version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 5s
      retries: 5
      timeout: 5s

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9092"]
      interval: 5s
      retries: 5
      timeout: 5s

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: partners
      POSTGRES_USER: partner_user
      POSTGRES_PASSWORD: partner_pass
    command: >
      postgres
      -c wal_level=logical
      -c max_replication_slots=10
      -c max_wal_senders=10
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U partner_user"]
      interval: 5s
      retries: 5
      timeout: 5s

  wal-listener:
    image: ihippik/wal-listener:latest
    container_name: wal-listener
    depends_on:
      zookeeper:
        condition: service_healthy
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: always
    volumes:
      - ./wal-listener.yml:/app/config.yml
    environment:
      WAL_CONFIG_PATH: "/app/config.yml"

  fastapi-app:
    build: ./fastapi_app
    container_name: fastapi-app
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql+asyncpg://partner_user:partner_pass@postgres:5432/partners
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    volumes:
      - ./fastapi_app:/app
    restart: unless-stopped

  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      kafka:
        condition: service_healthy
    command: |
      bash -c "
        echo 'Создаём топики...';
        kafka-topics --create --topic partner_db_events --partitions 1 --replication-factor 1 --bootstrap-server kafka:9092;
        echo 'Топики созданы.';
      "

  telegram_consumer:
    build: ./telegram_consumer
    container_name: telegram-consumer
    depends_on:
      kafka:
        condition: service_healthy
    restart: unless-stopped
